{% extends 'menus/base.html' %}

{% block content %}

<center>
  <h3 class="h3 mt-5 mb-3">Welcome to MJ Kitchen Menu</h3>
</center>
<form action="{% url 'cart' id=0 %}" method="POST">
  {% csrf_token %}
  <table class="table table-striped table-hover table bordered">
    {% for menu in menus %}
    <tr class="table-row">
      <td>
        <a href="details/{{ menu.id }}">
          {{ menu.foodname }}
        </a> <br />
      </td>
      <td align="right">
          <input type="checkbox" name="menu_items" value="{{ menu.id }}" id="menu_item_{{ menu.id }}">

        {% if user.is_superuser %}
          <a href="{% url 'update-menu' menu.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
          <a href="{% url 'delete-menu' menu.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit" class="btn btn-outline-secondary">Order</button>
</form>

{% endblock %}

