{% extends 'events/base.html' %}

{% block content %}

        {% if searched %}
          <h3 class="h3 mt-2">you searched for {{ searched }}</h3> <br>
        {% endif %}
          {% for venue in venues %}

            <section class="card row mt-5" style="margin-top: 9em;">
              <div class="card-body">
                <header class="card-title">{{ venue.name }}</header>
                <ul class="card-text">
                  <li>address: {{ venue.address }}</li>
                  <li>city: {{ venue.city }}</li>
                  <li>contact: {{ venue.contact }}</li>
                  <li>description: {{ venue.description }}</li>
                  <li>owner Id: {{ venue.owner }}</li>
                </ul>
              </div>
            
            </section>

          {% endfor %}
       
 

{% endblock %}