{% extends 'events/base.html' %}

{% block content %}
   {% if user == event.manager %}
   <h3>update event...</h3>
   
   <form action="" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="update" class="btn btn-secondary">
   </form>
   {% else %}
   <br>
   <h1>Access Denied</h1>
   <h3>Oops!..Only the event manager can update the event</h3>
    <br>
   <h4>logged in user: {{ user }}</h4>
   <h4>event manager: {{ event.manager }}</h4>

  {% endif %} 

{% endblock %}