asgiref==3.7.2
Django==4.2.7
django-cors-headers==4.3.1# to link with a different frontend app if needed
Pillow==10.1.0
psycopg2-binary==2.9.9# for postgresql
reportlab==4.0.7
sqlparse==0.4.4
typing_extensions==4.8.0